* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1643015862949-5c8d15a4242e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

#main {
    width: 100%;
    height: 100%;
}

#nav {
    width: 100%;
    text-decoration: none;
    padding: 30px 30px;
    padding-bottom: 0%;
    display: flex;
    text-align: center;
    font-style: italic;
}

#nav h1 {
    width: 100%;
    text-align: center;
}

#nav a {
    color: black;
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
}


#main>h1 {
    font-size: 400px;
    font-weight: 200;
    padding-left: 30px;
    text-align: center;
    color: #000000;
    
 
}

#bottomleft {
    width: 400px;
    position: absolute;
    bottom: 15%;
    left: 5%;
}

#bottomleft h3 {
    font-size: 40px;
}

#bottomleft p {
    font-size: 20px;
    margin-top: 5px;
}

#bottomleft h4 {
    padding-top: 10px;
    font-size: 30px;
    margin-top: 5px;

}

#bottombar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 70px;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    left: 0;
}

#bottombar a {
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(8, 8, 8);

}

#first {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 45%;
    left: 49%;
    z-index: 99;
    border-radius: 5%;


}

#second {
    height: 350px;
    width: 220px;
    position: absolute;
    top: 55%;
    left: 62%;
    border-radius: 5%;
}

#third {
    height: 250px;
    width: 190px;
    position: absolute;
    top: 40%;
    left: 75%;
    border-radius: 5%;


}