* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%; 
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1759403117912-94e07f918cf3?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#main h1{
    font-size: 150px;
    padding-top: 200px;
    color: rgb(225, 239, 255);
    font-weight: 100;
}
#main button{
    margin-top: 20px;
    padding: 10px 10px ;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 50px;
    background-color: rgb(168, 245, 241);
    border: 3px solid rgb(17, 2, 2);
    font: weight 600px; 
    
 }

#main button:hover{
    background-color: aqua;
    transform: scale(1.05);
 }
 P{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50PX;
    color: aliceblue;
    
 }