*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from{
        --rotate: 0deg;

    }
    to{
        --rotate: 360deg;

    }
    
}
.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    gap:10px;
    border-radius: 15px;
    border:0px solid transparent;
     box-shadow: 0 0 0px #ff4998; 
    background:
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, #ff4998,black) border-box ;
    animation: borderAnimate 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    color: white;
    text-shadow: 0 0 0px #ff4998;
}   

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 50px #BD53AF; 
    color:#BD53AF;
    text-shadow: 0 0 10px #BD53AF;
}
.box img{
    width: 100%;
}