@mixin buttonStyle($bg-color: white, $text-color: black ){
    font-size: 28px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: $bg-color;
    color: $text-color;
    cursor: pointer;
    transition: all ease 0.5s;

}