@import "./button";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{

    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    background-color: black;
    gap: 15px;

    .section{
        flex-grow: 1;
        border: 2px solid black;
        @include flexCenter();
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        

}

    .section:hover{
        flex-grow: 2;
        background-color: #191919b8;
        background-blend-mode: overlay;
    }

    .section:nth-child(1){
         background-image: url(https://i.pinimg.com/736x/bb/fa/44/bbfa444491938e8b5b84b7c940245b26.jpg);

    }
    .section:nth-child(2){
         background-image: url(https://i.pinimg.com/736x/a1/5a/99/a15a9941fb56f5863f954c4e376f1b4c.jpg);

    }
    .section:nth-child(3){
         background-image: url(https://i.pinimg.com/736x/27/c4/a7/27c4a747dc61b49f20c7b149a7d2e80d.jpg);

    }
    .section:nth-child(4){
         background-image: url(https://i.pinimg.com/736x/e1/32/95/e13295ec10714165b2903eef3d3038ed.jpg);

    }
    .section:nth-child(5){
         background-image: url(https://i.pinimg.com/736x/28/9d/12/289d1220efe4edc04dd023cbc978c595.jpg);

    }

    .ironman{
        @include buttonStyle(rgba(255, 0, 0, 0.579),white);
    }

    .loki{
        @include buttonStyle(rgba(0, 128, 0, 0.568),white);
    }

    .thor{
        @include buttonStyle(rgba(0, 119, 255, 0.604),white);
    }

    .spiderman{
        @include buttonStyle(rgba(255, 0, 0, 0.725),white);
    }

    .hulk{
        @include buttonStyle(rgba(0, 128, 0, 0.652),white);
    }

    #button:hover{
        scale:1.5;
        padding-left: 15px;
        padding-right: 15px;
    }
}

