* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

:root {
    --x: 400px;
    --y: 400px;
}


#container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.box {
    height: 100%;
    width: 100%;
    background: radial-gradient(250px at var(--x) var(--y), rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}