* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body{
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

h2, p{
    color: black;
    margin: 8px 0;
}

.follow-btn{
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.following{
    background: #dddddd !important;
    color: black !important;
}
