@font-face {
    font-family: f1;
    src: url(/fonts/Pin-Sans-MacOS-Regular-708c49dd.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
main{
    background-color: rgb(0, 0, 0);

    header{
        height: 15vh;
        width: 100%;
        display: flex;
        padding: 3vw;
        align-items: center;
        justify-content: space-between;
        color: white;


        .left{
            display: flex;
            align-items: center;
            width: 33.33%;
            gap: 1vw;

            img{
                width: 10%;
            }
            h1{
                font-family: f1;
                font-size: 1.5vw;
                cursor: pointer;
            }
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3vw;
                cursor: pointer;
            }
        }
        .center{
            width: 33.33%;
            align-items: center;
            display: flex;
            gap: 1.5vw;
            justify-content: center;

            h1{
                font-family: f1;
                font-size: 1.3vw;
                text-decoration: underline;
                cursor: pointer;
            }
            h2{
                font-family: f1;
                font-size: 1.3vw;
                cursor: pointer;
            }

        }
        .right{
            width: 33.33%;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1vw;

            i{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5vw;
                cursor: pointer;
            }
        }
    }

    section{
        figure{
            columns: 200px 5;
            padding: 0 20px;
            img{
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 0.9rem;
                cursor: pointer;
            }
            video{
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 0.9rem;
                cursor: pointer;
            }
        }
    }

}